<a href="https://colab.research.google.com/github/kartheeswar17/Python-Sales-Dataset-/blob/main/sales_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
file_path="/content/drive/MyDrive/sales_data.csv"

In [3]:
import numpy as np
import pandas as pd

In [4]:
data=pd.read_csv(file_path)

In [5]:
data.head()

,Product_ID,Sale_Date,Sales_Rep,Region,Sales_Amount,Quantity_Sold,Product_Category,Unit_Cost,Unit_Price,Customer_Type,Discount,Payment_Method,Sales_Channel,Region_and_Sales_Rep
0,1052,2023-02-03,Bob,North,5053.97,18,Furniture,152.75,267.22,Returning,0.09,Cash,Online,North-Bob
1,1093,2023-04-21,Bob,West,4384.02,17,Furniture,3816.39,4209.44,Returning,0.11,Cash,Retail,West-Bob
2,1015,2023-09-21,David,South,4631.23,30,Food,261.56,371.40,Returning,0.20,Bank Transfer,Retail,South-David
3,1072,2023-08-24,Bob,South,2167.94,39,Clothing,4330.03,4467.75,New,0.02,Credit Card,Retail,South-Bob
4,1061,2023-03-24,Charlie,East,3750.20,13,Electronics,637.37,692.71,New,0.08,Credit Card,Online,East-Charlie

In [7]:
import numpy as np
n = int(input("Number of products: "))
qty = [float(input(f"Qty {i+1}: ")) for i in range(n)]
prc = [float(input(f"Price {i+1}: ")) for i in range(n)]
q_arr, p_arr = np.array(qty), np.array(prc)
sales = q_arr * p_arr
print(f"\nSales per product: {sales}")
print(f"Top 3: {sales[:3]}")
print("\n--- Stats ---")
print(f"Total:   {sales.sum():.2f}")
print(f"Average: {sales.mean():.2f}")
print(f"Median:  {np.median(sales):.2f}")
print(f"Std Dev: {sales.std():.2f}")

Number of products: 1
Qty 1: 2
Price 1: 3

Sales per product: [6.]
Top 3: [6.]

--- Stats ---
Total:   6.00
Average: 6.00
Median:  6.00
Std Dev: 0.00